<html>
  <head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" type="text/css" href="../static/chasestyle.css">
  </head>
  <body>
    <form>
      <center><label>Computer Engineering</label></center>

    </form>
   <center>
       <form>
           <center>Computer engineers combine expertise in software design and implementation with fundamental engineering skills - a highly valuable skill set. They design and maintain websites, networks, massive databases, and other applications, in the process developing and integrating new software and hardware. Computer engineers specialize in the development of computer systems designed to carry out specific functions in real-time, known as embedded systems, which operate airplanes, cell phones, vending machines, medical equipment, etc. Their vast computing knowledge and problem solving skills make computer engineers an invaluable asset to industry. As individuals and corporations become more dependent on computers, there is an abundant need for well-trained computer engineers.</center>

       </form>
    <table>

      <tr>

        <td class="noBorder"><img src="static/ce.jpg" /></td>

        <td class="noBorder">

            <form class = "grid" action = "/thanks" method = "POST">
                <center><label>Enter Phone # for more info on Computer Engineering: </label></center>
                <center><input type="text" name="number" id = "number"><input type="Submit" class = "file_submit"></center>
                +1 not needed<br>Enter in 1234567890 format
            </form>
        </td>

      </tr>

    </table>

    </center>
  </body>
</html>