<html>
  <head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" type="text/css" href="../static/chasestyle.css">
  </head>
  <body>
    <form>
      <center><label>Electrical Engineering</label></center>
    </form>
    <center>
       <form>
           <center>Electrical engineers design, test and manufacture electrical and electronic systems and devices. They collaborate on the development of hybrid vehicles, wireless communications, flight control systems, radar systems and numerous other innovations. Electrical engineers can specialize in power transmission, motor control and other facets of large electrical systems or in microprocessors and integrated circuits within small-scale electronic systems. Armed with technical knowledge and skills, electrical engineers have career opportunities in a variety of industries and research organizations.</center>
       </form>
    <table>

      <tr>

        <td class="noBorder"><img src="static/ee.jpg" /></td>

        <td class="noBorder">

            <form class = "grid" action = "/thanks" method = "POST">
                <center><label>Enter Phone # for more info on Electrical Engineering: </label></center>
                <center><input type="text" name="number" id = "number"><input type="Submit" class = "file_submit"></center>
                +1 not needed<br>Enter in 1234567890 format
            </form>
        </td>

      </tr>

    </table>

    </center>
  </body>
</html>