<html>
  <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" type="text/css" href="../static/chasestyle.css">
  </head>
  <body>
    <form class = "grid" action = "/quiz" method = "POST">
      <center>
        <label>Second question: do you wish to focus on the electrical field more and apply electrical physics more often?</label>
      </center>
    </form>
    <form class = "grid" action = "/ee" method = "POST">
      <center><input type="Submit" value="Yes" class = "file_submit"></center>
    </form>
    <form class = "grid" action = "/hardquestion2" method = "POST">
      <center><input type="Submit" value="No" class = "file_submit"></center>
    </form>
  </body>
</html>