<html>
  <head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" type="text/css" href="../static/chasestyle.css">
  </head>
  <body>
    <form>
      <center><label>Interdisciplinary Computing</label></center>

    </form>
    <center>
       <form>
           <center>Interdisciplinary computing graduates collaborate with scientists or other professionals, applying their computing expertise to large-scale problems. They might use grid computing to study the first few picoseconds after the Big Bang or process enormous data streams from telescopic mapping experiments to analyze the orbits of potential Earth-crossing asteroids. They could manage and expand biological databases to study the causes of worldwide biodiversity decline, apply machine learning techniques to design better chemotherapies, or develop optimization techniques to locate tornado sirens for maximum population coverage.</center>
       </form>
    <table>

      <tr>

        <td class="noBorder"><img src="static/ic.jpg" /></td>

        <td class="noBorder">
            <form>
              <center>Interdisciplinary Computing students choose one of the following 6 scientific fields to pair with their computational coursework. These include: Astronomy, Biology, Chemistry, Geography, Journalism, or Physics</center>
            </form>
            <form class = "grid" action = "/thanks" method = "POST">
                <center><label>Enter Phone # for more info on Interdisciplinary Computing </label></center>
                <center><input type="text" name="number" id = "number"><input type="Submit" class = "file_submit"></center>
                +1 not needed<br>Enter in 1234567890 format
            </form>
        </td>

      </tr>

    </table>

    </center>
  </body>
</html>